/*================================= Universal and Body Styling Start======================= */

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif, 'Arial' !important;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

/*Light and Dark Mode Variables */
:root {
    --background-color: #fff;
    --text-color: #333;
    --highlight-color: #6c63ff;
    --link-color: #555;
    --link-hover-color: #6c63ff;
    --active-link-color: #ffa500;
}

body.dark {
    --background-color: #333;
    --text-color: #f8f8f8;
    --highlight-color: #c3b5ff;
    --link-color: #ddd;
    --link-hover-color: #c3b5ff;
    --active-link-color: #ffc107;
}


/*================================= Universal and Body Styling End ======================= */

/*================================= Header Section Start ======================= */



.navbar {
    max-width: 1200px;
    margin-left: 2.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--background-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: auto;
}

.logo {
    display: flex;
    align-items: center;


}

.logo img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-right: 20px;
    animation: slideleft 1s ease forwards;
    opacity: 1;
}

@keyframes slideleft {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}


.navbar .nav-text {
    margin-right: 5rem;
}

.nav-text .change-text {
    padding-top: 10px;
}

.logo h1 {
    font-size: 24px;
    margin: 0;
    color: var(--text-color);
}

.logo p {
    margin: 0;
    color: var(--link-color);
    font-size: 14px;
}

.highlight {
    color: var(--highlight-color);
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    color: var(--link-color);
    font-size: 16px;
    transition: color 0.3s ease;
}

.menu a:hover {
    color: var(--link-hover-color);
}

.menu a.active {
    color: var(--active-link-color);
}

.controls {
    display: flex;
    align-items: center;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: var(--text-color);
}

.theme-toggle {
    margin-left: 20px;
    cursor: pointer;
}

.theme-toggle i {
    size: 1rem;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
        background-color: var(--background-color);
        position: absolute;
        top: 60px;
        right: 20px;
        width: 150px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .menu.show {
        display: flex;
    }

    .hamburger {
        display: flex;
    }
}

/*================================= Header Section End ======================= */


/*================================= Preject Section  Start ======================= */

.project-section {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    background-color: var(--background-color);
    overflow: hidden;
    margin: 50px 0;
}

.project-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.projects-section h2 {
    font-size: 2.5rem;
    margin-bottom: 50px;
    text-transform: uppercase;
    text-align: center;
}

.projects-section h2 span {
    color: var(--active-link-color);
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}

.project-card {
    color: var(--background-color);
    border-radius: 15px;
    height: 280px;
    width: 220px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    align-items: center;
    text-align: center;
    border: 1px solid #fff;
    margin: auto;
}

.project-card:hover {
    transform: translateY(-10px);
}

.project-image {
    background-size: cover;
    /* Ensures the image covers the container */
    background-position: center;
    /* Centers the image */
    background-repeat: no-repeat;
    /* Prevents the image from repeating */
    width: 150px;
    height: 150px;
    /* Example height, adjust as needed */
    border-radius: 50%;
    /* Matches the border-radius of the container */
    border: 1px solid black;
    position: relative;
    overflow: hidden;
    margin: auto;
    top: 2px;
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom: 2px solid #fbc02d;
    border-radius: 15px 15px 0 0;
    transition: transform 0.3s ease;
    opacity: 0;
    /* Hide the img tag visually but keep it for SEO/alt text */
    position: absolute;
}


.project-card:hover .project-image img {
    transform: scale(1.05);
}

.project-card h3 {
    font-size: 1rem;
    color: #333;
    margin: 15px 0;
}

.btn-view {
    display: inline-block;
    margin-bottom: 15px;
    padding: 10px 20px;
    background-color: var(--background-color);
    color: #FF014F;
    border-radius: 10px;
    border: 0.02px solid black;
    text-transform: uppercase;
    font-weight: 600;
    font-size: small;
    text-align: center;
    transition: background-color 0.3s;
    text-decoration: none;
}

.btn-view:hover {
    background-color: #FF014F;
    color: white;
}

@media (max-width: 768px) {
    .projects-grid {
        grid-template-columns: 1fr;
    }
}


/*================================= Preject Section End ======================= */

/*================================= About Section End ======================= */


.about-section {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 50px 0;
}

.about-section h2 {
    text-align: center;
    align-items: center;
}

.about-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px 0px 0px 0px;
    border: 2px solid #fbc02d;
    border-radius: 1rem;
    margin: auto;
}

.profile-image {
    flex: 1;
    text-align: center;
}

.profile-image img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 5px solid #fbc02d;
}

.about-text {
    flex: 2;
    padding: 10px;

}

.about-text p {
    text-align: start;
}

.about-text .btn-download {
    color: black;
}

.about-text h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

.about-text h2 span {
    color: #fbc02d;
}

.about-text p {
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 15px;
}

.about-text p strong {
    font-weight: bold;
}

.about-text a {
    color: #fbc02d;
    text-decoration: none;
    font-weight: bold;
}

.btn-download {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #fbc02d;
    color: #fff;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s;
}

.btn-download:hover {
    background-color: #f57c00;
}

@media (max-width: 768px) {
    .about-content {
        flex-direction: column;
    }

    .profile-image,
    .about-text {
        flex: unset;
        text-align: center;
    }

    .about-text {
        padding: 0;
    }
}

/*================================= About Section End ======================= */


/*================================= Skill Section Start ======================= */


.skill-section {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    background-color: var(--background-color);
    overflow: hidden;
    margin: 50px 0;
    text-align: center;
}



.skill-container {
    color: var(--background-color);
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: auto;
    padding: 10px;
}

.skill-card {
    border: 2px solid #ddd;
    border-radius: 10px;
    padding-right: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.skill-card h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: var(--text-color);
}

.skill-card ul {
    list-style: none;
    color: var(--background-color);
}

.skill-card li {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-color);
}

.skill-card img {
    width: 20px;
    height: 20px;
}

@media (max-width: 768px) {
    .skill-container {
        flex-direction: column;
        align-items: center;
    }

    .skill-card {
        width: 90%;
    }
}

/*================================= Skill Section End ======================= */

/*================================= Certificate Section Start ======================= */
.certificate-section {
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.certificate-section h2 {
    text-align: center;
    color: #333;
}
.certificates-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1000px;
}
.certificates-container .certificate-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.certificates-container .certificate-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.certificate-card  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}
.certificate-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
.certificate-issuer {
    color: #777;
    margin-bottom: 10px;
}
.certificates-container .view-details {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}
/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.modal .modal-content {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.5s;
}
.modal-content  .modal-close {
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    color: #999;
}
.modal-content  .modal-close:hover {
    color: #333;
}
.modal-title {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 10px;
}
.modal-issuer,
.modal-skills {
    margin-bottom: 10px;
    color: #555;
}
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}
/* Responsive */
@media (max-width: 600px) {
    .certificates-container {
        grid-template-columns: 1fr;
    }
}


/*================================= Certificate Section End ======================= */

/*================================= FAQ Section Start ======================= */
.FAQ-section {
    background-color: #fff;
    background-color: var(--background-color);
    overflow: hidden;
    margin: 50px 0;
}

.faq-container {
    color: #000;
    max-width: 1200px;
    gap: 10px;
    margin: auto;
    padding: 10px;
}

.faq-container h2 {
    text-align: center;
    color: #333;
}

.faq-container details {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.faq-container details:hover {
    border-color: #007bff;
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3);
}

.faq-container summary {
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
    list-style: none;
}

.faq-container summary:hover {
    color: #007bff;
}

.faq-container details[open] {
    background-color: #e9f5ff;
    border-color: #007bff;
}

.faq-container p {
    margin-top: 10px;
    line-height: 1.6;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.faq-container details[open] p {
    opacity: 1;
    transform: translateY(0);
}

/*================================= FAQ Section End ======================= */

/*================================ Contact Details Section Another Page Start ========================================*/


.contact-form-container {
    text-align: center;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: auto;
    border: 1px solid white;
}

.contact-form h2 {
    margin-bottom: 10px;
    font-size: 24px;
    background-color: var(--background-color);
}

.contact-form p {
    margin-bottom: 20px;
    color: #777;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    gap: 12px;
}

.input-group input {
    width: 48%;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact-form .submit-btn {
    background-color: #001f54;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    transition: background-color 0.3s ease;
}

.contact-form .submit-btn:hover {
    background-color: #00307d;
}

.call-us {
    margin-top: 20px;
    font-size: 14px;
    color: #555;
}

@media (max-width: 768px) {
    .input-group {
        flex-direction: column;
    }

    .input-group input {
        width: 100%;
    }
}

/* ========================================== Contact Section End ======================================================== */

/* ========================================== footer Section Start ======================================================== */

footer {
    background-color: #fff;
    padding: 40px 20px;
    text-align: center;
    border-top: 1px solid #e0e0e0;
    margin-top: 10px;
}

.footer-footer-container {
    max-width: 800px;
    margin: 5px auto;
}

.footer-container h2 {
    font-size: 36px;
    margin: 0;
    color: #333;
    font-weight: bold;
    position: relative;
    display: inline-block;
    animation: fadeIn 1s ease-in-out;
}

.footer-container h2 span {
    color: #f9a825;
}

.social-icons {
    margin: 20px 0;
}

.social-icons a {
    color: var(--background-color);
    font-size: 18px;
    margin: 0 10px;
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons a:hover {
    color: #f9a825;
    transform: scale(1.2);
}

.footer-nav {
    margin: 20px 0;
    font-size: 16px;
}

.footer-nav a {
    color: #666;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.footer-nav a:hover {
    color: #f9a825;
}

.footer-note {
    margin-top: 20px;
    font-size: 14px;
    color: #999;
}

.footer-note span {
    color: #f9a825;
}

.footer-note a {
    color: #f9a825;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer-note a:hover {
    color: #333;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive */
@media (max-width: 600px) {
    .footer-container h2 {
        font-size: 28px;
    }

    .social-icons a {
        font-size: 16px;
        margin: 0 8px;
    }

    .footer-nav {
        font-size: 14px;
    }
}

/* ========================================== footer Section End ======================================================== */